## Кортежи (Tuples)

In [1]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [2]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
my_tuple.remove(3)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'remove'

In [3]:
my_tuple[0]

1

In [4]:
my_tuple[1:3]

(2, 3)

In [5]:
my_tuple.count(3)

1

In [6]:
del(my_tuple)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [7]:
my_tuple = ('car1', 'car2', 'car3', 'car4', 'car5', 'car6', 'car7')

In [8]:
my_list = ('ГАЗ-21', 'Нива', 'ЗАЗ-966', 'Лада-Калина', 'Лада-Веста', 'Мерседес-Бенц', 'Aurus')

In [9]:
car_park = dict(list(zip(my_tuple, my_list))) #создаем словарь

In [10]:
car_park

[('car1', 'ГАЗ-21'),
 ('car2', 'Нива'),
 ('car3', 'ЗАЗ-966'),
 ('car4', 'Лада-Калина'),
 ('car5', 'Лада-Веста'),
 ('car6', 'Мерседес-Бенц'),
 ('car7', 'Aurus')]

## Множества (Sets)

In [14]:
set()

set()

In [15]:
set = {1, 2, 3}
type(my_set)

set

In [1]:
my_list = [1 , 2, 3, 4, 5, 10, 6, 7, 8, 9, 10]
unique = set(my_list) #избавляемся от дублей
print(unique)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
clean_list = list(unique)
print(clean_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
my_set = {1, 2, 3}
my_set.add(4)
my_set

{1, 2, 3, 4}

In [4]:
my_set.remove(2)
my_set

{1, 3, 4}

In [5]:
2 in my_set

False

In [6]:
3 in my_set

True

In [7]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {8, 10, 12, 14, 16, 18, 20}
set1.intersection(set2) #пересечение множеств

{8, 10}

In [8]:
set3 = set1.union(set2) #объединение множеств
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [10]:
set1.difference(set2) #разница множеств

{1, 2, 3, 4, 5, 6, 7, 9}

In [11]:
set1.symmetric_difference(set2) #симметричная разница множеств

{1, 2, 3, 4, 5, 6, 7, 9, 12, 14, 16, 18, 20}

In [12]:
set4 = frozenset(set1) #неизменяемое множество

In [13]:
set4.remove(2)

AttributeError: 'frozenset' object has no attribute 'remove'